.text-center
  - flash.each do |type, msg|
    - if type == 'success'
      .alert.alert-success= msg.html_safe
    - elsif type == 'error'
      .alert.alert-danger= msg.html_safe
:javascript
  setTimeout(function() {
    $('.alert').fadeOut('slow');
  }, 2000);